<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="style.css">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
            <input type="hidden" id="cr" th:value="${paint}">
            <div class="body">
                <div class="index">
                    <div class="item">
                        <form th:action="@{/device}">
                            
                            <input type="submit" id="device" value="Thiết bị" class="index2">
                        </form>
                    </div>
                    <div class="item">
                        <form th:action="@{/notification}">
							
                            <input type="submit" id="notif" value="Thông báo" class="index2">
                        </form>
                    </div>
                    <div class="item">
                        <form th:action="@{/history}">

                            <input type="submit" id="his" value="Lịch sử đóng/mở cửa" class="index2">
                        </form>
                    </div>
                </div>
                <div class="content">
                    <div class="row-content">
                        <div class="row">
                          <span><b>Time</b></span>                          
                        </div>
                        <div class="row" style="border-right: none;">
                            <span><b>Message</b></span>                          
                        </div>
                    </div>
                    <div class="row-content" th:each="i:${ds_mess}">
                        <div class="row">
                          <span th:text="${i._time}">Time2</span>                          
                        </div>
                        <div class="row" style="border-right: none;">
                            <span th:text="${i.mess}">Message2</span><br>      
                            
                            <form th:action="off_warn" method="get">
                            	<input type="hidden" name="hid" th:value="${i.seen}">
                            	<input type="submit" name="off_warn" value="tắt cảnh báo" class="off" style="position:relative;bottom:10px;margin-left: auto;margin-top:20px">
                            </form>
                        </div>
                    </div>
                    
                </div>
            </div>
            <script>
             const input = document.getElementById('cr');
                const inputValue = input.value;
                document.getElementById(inputValue).style.backgroundColor="blue";
                
                const currentElement = document.getElementsByName('hid'); // Lấy phần tử hiện tại
                for(var i=0;i<currentElement.length;i++){
                    a=currentElement[i].getAttribute('value')
                    console.log(currentElement[i].getAttribute('value'))
                    if(a=="true"){
                        var nextElement = currentElement[i].nextElementSibling;
                        nextElement.style.display='block'
                    }
                }
               
            </script>
    </body>
</html>